.schoolfront {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 35em;
}

.SchoolSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 35em;
}

.Teachers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 35em;
}

.tier_two-tron {
    max-height: 79em;
}

.pictureside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}