.title {
    display: flex;
    justify-content: center;
    
}

.book {
    display: flex;
    justify-content: center;
      
}

a:link,
a:visited {
    color: #feed0d;
    text-decoration: none;
}

.about-button {
    
    font-size: 1em;
    background-color: #D8261C;
    color: #feed0d;
    height: 2.5em;
    width: 10em;
    border-radius: 50px;
    
}

.school {
    display: flex;
    justify-content: space-evenly;
       
}

.school-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 40em;
}



.tier_two-tron {
    padding-bottom: 3em;
    max-height: 40em;
    
}

.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}